<main class="main">
    <aside class="sidebar">
        <div class="content">
            <ul class="nav-list">
                <span class="list-title">Usuário</span>
                <li class="list-item"><a [routerLink]="['/pages/users/create']">Adicionar Usuário</a></li>
                <li class="list-item"> <a [routerLink]="['/pages/users']">Listar Usuários</a></li>
            </ul>
        </div>
    </aside>
    <div class="content">
        <header>
            <h1>{{isCreating ? 'Criar' : 'Editar'}} Usuário</h1>
        </header>
        <div class="content">
            <form [formGroup]="formGroup" class="form">
                <div class="input-item grid-1">
                    <input type="text" formControlName="name" placeholder="Insira o nome do usuário...">
                </div>
                <div class="input-item grid-2">
                    <input type="email" formControlName="email" placeholder="Insira o e-mail do usuário...">
                </div>
                <div class="input-item grid-3">
                    <select formControlName="function">
                        <option [value]="'none'" disabled selected>Selecione a função do usuário</option>
                        <option [value]="userFunctionsEnum.BE_ENGINEERING">{{userFunctionsEnum.BE_ENGINEERING}}</option>
                        <option [value]="userFunctionsEnum.FE_ENGINEERING">{{userFunctionsEnum.FE_ENGINEERING}}</option>
                        <option [value]="userFunctionsEnum.DATA_ANALIST">{{userFunctionsEnum.DATA_ANALIST}}</option>
                        <option [value]="userFunctionsEnum.TECH_LEAD">{{userFunctionsEnum.TECH_LEAD}}</option>
                    </select>
                </div>
                <div class="input-item grid-4">
                    <input type="password" formControlName="password" placeholder="Insira a senha do usuário...">
                </div>
                <div class="input-item grid-5">
                    <input type="submit" (click)="onSubmit()" [disabled]="!this.formGroup.valid" [value]="!isCreating ? 'Alterar Usuário' : 'Criar Usuário'">
                </div>
            </form>
        </div>
    </div>
</main>